@import '../../assets/styles/variables';

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 5rem;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  position: relative;

  background-color: var(--color-grey-light-1);

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: $border-radius-medium;
  width: 38rem;
}

.btnBack {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-primary);
  margin: 1rem;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  svg {
    height: 2.5rem;
    width: 3.5rem;
  }

  &:hover {
    color: var(--color-primary-dark);
    transform: translateY(-2px);
  }
}

.logo {
  display: flex;

  svg {
    height: 10rem;
    width: 10rem;
    color: var(--color-primary);
  }
}

.heading {
  font-size: $font-size-large;
  margin-bottom: 2.5rem;
  color: var(--color-grey-dark-3);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  width: 100%;

  font-size: $font-size-default;

  div:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.input {
  width: 100%;
  font-size: $font-size-default;
  font-family: inherit;
  color: inherit;
  padding: 1rem 2rem;
  border-radius: $border-radius-light;
  background-color: var(--color-white);
  border: 3px solid transparent;

  -webkit-transition: all 0.8s;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 0 5pt 0.5pt var(--color-primary-light-2);
  }

  &:focus {
    outline: none;
    box-shadow: 0 1rem 2rem var(--color-grey-dark-1);
    border: 3px solid var(--color-primary);

    box-shadow: 0 0 5pt 2pt var(--color-primary-light-2);
    outline-width: 0px;
  }

  &:focus:invalid {
    border: 3px solid var(--color-danger);
  }

  &::-webkit-input-placeholder {
    color: var(--color-grey-dark-1);
  }
}

.label {
  display: block;
  margin-top: 1rem;
  margin-left: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-primary);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.btn {
  width: 100%;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  position: relative;
  font-size: $font-size-default;
  border-radius: $border-radius-light;
  border: none;
  margin: 1rem 0 2.5rem 0;
  background-color: var(--color-primary);
  color: var(--color-white);
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem var(--color-grey-dark-2);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem var(--color-grey-dark-2);
    transform: translateY(0);
  }
}

.btnTextContainer {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 1rem 0;
}

.btnText {
  &:link,
  &:visited {
    font-size: $font-size-default;
    color: var(--color-primary-dark);
    text-decoration: none;
    border-bottom: 1px solid var(--color-primary-dark);
    padding: 3px;
    transition: all 0.2s;

    display: flex;
    align-items: center;
  }

  &:hover {
    background-color: var(--color-primary-dark);
    color: var(--color-white);
    box-shadow: 0 1rem 2rem var(--color-grey-dark-2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem var(--color-grey-dark-2);
    transform: translateY(0);
  }
}
