@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInLogo {
  0% {
    opacity: 0;
    transform: translateY(-14rem);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}
