@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');

// FONT VARIABLES
$font-primary: 'Inter', 'Robot', 'Open Sans', 'Source Sans Pro', Arial,
  sans-serif;

// $font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 75 * 16px = 1200px
$bp-large: 62.5em; // 62.5 * 16px = 1000px
$bp-medium: 50em; // 50 * 16px = 800px;
$bp-small: 37.5em; // 37.5 * 16px = 600px;

// FONT
$font-size-default: 1.4rem;
$font-size-large: 2rem;

// borders
$border-radius-light: 5px;
$border-radius-medium: 10px;
$border-radius-action: 100px;
